<%-include("../partials/header")%>
<section class="page">
    <div class="container-fluid">
        <span></span>
        <span class="ft"></span>
        <div class="page-head">
            <h2 class="page-title">
                <%= title %>
            </h2>
            <p class="page-description">________</p>
        </div>
    </div>
</section>
<section class="about-us">
    <div class="container-fluid">
        <div class="about-body row g-5">
            <div class="about-content col-6 ">
                <!-- <h2 class="about-title"><%= title %></h2> -->
               <div class="about-text">
                <p class="mb-3">Established in 2010, Alphatech Multimedia Technologies has evolved into a powerhouse in the web and software development landscape, boasting a prominent position with a corporate headquarters in Lagos, Nigeria. As a major player in the industry, our credentials include registrations with the Corporate Affairs Commission (CAC) and licensing from the National Information Technology Development Agency (NiTdA), solidifying our standing as a top-tier software development and IT consultancy company. Our expansive reach extends globally, as we empower businesses with transformative digital experiences, specializing in Web Design, Web Development, Custom Development, and Inbound Solutions across diverse industries.</p>
               <p>At Alphatech Multimedia Technologies, our role as a large-scale company is underscored by a steadfast commitment to excellence and innovation. Leveraging cutting-edge technology and industry best practices, our seasoned team of experts is dedicated to driving change, seamlessly connecting brands with their target audiences, and converting attention into tangible leads. Whether it's enhancing online presence, developing sophisticated software solutions, or implementing comprehensive inbound strategies, Alphatech Multimedia Technologies is the strategic partner of choice for enterprises looking to navigate the digital landscape at a grand scale.</p>
               </div>
            </div>
            <div class="about-content col-4 d-flex justify-content-center align-items-center m-5">
                <div class="abc-img">
                    <img src="/image/Alphatech Building.png" alt="" width="300">
                </div>
     
            </div>
        </div>
    </div>
</section>

<section class="team">
    <div class="container-fluid">
        <h2 class="team-title text-center text-uppercase mb-5">Alphatech Management's</h2>
        <div class="team-card row">
            <div class="card left">
                <img src="/image/1704443227748.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Gabriel Abidemi</h5>
                  <p class="card-text">Founder,CEO</p>
                </div>
                <div class="card-footer">
                    <a href="https://www.linkedin.com/in/gabriel-abidemi-a3336b199/" target="_blank"><img src="/image/linkedin.png" alt=""  width="30"></a>
                    <a href="https://facebook.com/itodo.gabriel40?mibextid=uzlsIk&_rdc=1&_rdr" target="_blank"><img src="/image/Facebook_f.png" alt="" width="30"></a>
                    <a href="https://www.tiktok.com/@ceo_alphatech" target="_blank"><img src="/image/Tiktok-23.png" alt=""  width="30"></a>
                    <a href="https://www.instagram.com/_big_ceo/" target="_blank"><img src="/image/download.jfif" alt=""  width="30"></a>
                </div>
              </div>
              <div class="card top">
                <img src="/image/sarah-maginnis.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Sarah Maginnis</h5>
                  <p class="card-text">Server Enginer,USA</p>
                </div>
                <div class="card-footer">
                    <a href="https://www.linkedin.com/in/gabriel-abidemi-a3336b199/" target="_blank"><img src="/image/linkedin.png" alt=""  width="30"></a>
                    <a href="https://facebook.com/itodo.gabriel40?mibextid=uzlsIk&_rdc=1&_rdr" target="_blank"><img src="/image/Facebook_f.png" alt="" width="30"></a>
                    <a href="https://www.tiktok.com/@ceo_alphatech" target="_blank"><img src="/image/Tiktok-23.png" alt=""  width="30"></a>
                    <a href="https://www.instagram.com/_big_ceo/" target="_blank"><img src="/image/download.jfif" alt=""  width="30"></a>
                </div>
              </div>
              <div class="card bottom">
                <img src="/image/logo/favicon2.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Esther Okeowo</h5>
                  <p class="card-text">MD,CFO</p>
                </div>
                <div class="card-footer">
                    <a href="https://www.linkedin.com/in/gabriel-abidemi-a3336b199/" target="_blank"><img src="/image/linkedin.png" alt=""  width="30"></a>
                    <a href="https://facebook.com/itodo.gabriel40?mibextid=uzlsIk&_rdc=1&_rdr" target="_blank"><img src="/image/Facebook_f.png" alt="" width="30"></a>
                    <a href="https://www.tiktok.com/@ceo_alphatech" target="_blank"><img src="/image/Tiktok-23.png" alt=""  width="30"></a>
                    <a href="https://www.instagram.com/_big_ceo/" target="_blank"><img src="/image/download.jfif" alt=""  width="30"></a>
                </div>
              </div>
              <div class="card right">
                <img src="/image/logo/favicon2.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Gboyega Oluwaseyi</h5>
                  <p class="card-text">Graphic Designer</p>
                </div>
                <div class="card-footer">
                    <a href="https://www.linkedin.com/in/gabriel-abidemi-a3336b199/" target="_blank"><img src="/image/linkedin.png" alt=""  width="30"></a>
                    <a href="https://facebook.com/itodo.gabriel40?mibextid=uzlsIk&_rdc=1&_rdr" target="_blank"><img src="/image/Facebook_f.png" alt="" width="30"></a>
                    <a href="https://www.tiktok.com/@ceo_alphatech" target="_blank"><img src="/image/Tiktok-23.png" alt=""  width="30"></a>
                    <a href="https://www.instagram.com/_big_ceo/" target="_blank"><img src="/image/download.jfif" alt=""  width="30"></a>
                </div>
              </div>
        </div>
    </div>
</section>

<section class="Core">
    <div class="container-fluid">
        <div class="core-text top mb-5">Our Core Values</div>
        <div class="core-boby row">
            <div class="core-content left col-4 d-flex justify-content-center align-items-center flex-column">
                <span class="icon mb-3" style=" --core-color:#3b0042;"><i class="fa-solid fa-arrow-trend-up"></i></span>
                <h2>RESULTS-DRIVEN</h2>
                <p>We formulate a results-driven strategy with tangible deliverables to guarantee the success of our clients. It is essential to collaborate with a software consultant who consistently delivers measurable outcomes, and that is precisely our expertise.
                </p>
            </div>

            <div class="core-content bottom col-4 d-flex justify-content-center align-items-center flex-column">
                <span class="icon mb-3" style=" --core-color:#006d3a;"><i class="fa-solid fa-trophy"></i></span>
                <h2>CLIENT SUCCESS</h2>
                <p>
                    At Alphatech, we invest time in understanding our clients, their businesses, and transforming their challenges into effective solutions. Our proficiency lies in skillfully bridging the gap between business and technology.
                </p>
            </div>

            <div class="core-content right col-4 d-flex justify-content-center align-items-center flex-column">
                <span class="icon mb-3" style=" --core-color:#e9d900;"><i class="fa-solid fa-lightbulb"></i></span>
                <h2>INNOVATION</h2>
                <p>We eschew standardized solutions. Collaborating with our clients, we strive to discover imaginative and original ideas that lead to successful outcomes. Since 2010, we've crafted a diverse array of enduring software and web-based solutions.
                </p>
            </div>
        </div>
    </div>
</section>


<script src="https://unpkg.com/scrollreveal"></script>
<script>
     ScrollReveal({
     reset: true,
     distance:"60px",
     duration: 2500,
     delay: 400
     });

  ScrollReveal().reveal(' .about-text , .left', {delay: 200, origin:"left",});
  ScrollReveal().reveal('.abc-img , .right', {delay: 100, origin:"right",});
  ScrollReveal().reveal('.text-sub , .bottom , .page-description', {delay: 200, origin:"bottom",});
  ScrollReveal().reveal('.about-title , .team-title , .top , .page-title', {delay: 200, origin:"top",});
</script>

<%-include("../partials/footer")%>