<%-include("../partials/header")%>

<section class="bootcamp">
    <div class="container-fluid">
        <div class="camp row">
            <div class="camp-content col-7">
                <h1 class="camp-title">
                    We transform individuals with a passion for digital technology into skilled professionals ready for
                    the industry.</h1>
                <p class="camp-sub">
                    Alphatech Skills Bootcamp empowers with vital digital skills for the global job market. Tailored for
                    success, it readies you for the demands of today’s dynamic professional landscape.</p>
                <div class="canp-btn mt-4">
                    <a href="#">Register Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="partner">
    <div class="container-fluid">
        <div class="partner row">
            <div class="part-content">
                <h2 class="pt">In Partnership with</h2>
            </div>
            <div class="part-image">
               <img src="/image/asw.png" alt="">
               <img src="/image/micro.png" alt="" >
               <img src="/image/access.png" alt="" >
               <img src="/image/visa.png" alt="" >
               <img src="/image/nitda.png" alt="" >
               <img src="/image/harverd.png" alt="" >
            </div>
        </div>
    </div>
</div>

<section class="course">
    <div class="container-fluid">
        <div class="course-header">
            <h2 class="course-title">Invest in yourself and gain
                career-ready tech skill to boost your tech future</h2>
                <p class="bottom">We foster a software engineering mindset, emphasizing critical thinking skills.</p>
        </div>
        <div class="course-body row mt-5">
            <div class="card left">
                <img src="/image/frontend-developer.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Front-End Web Development</h5>
                  <p class="card-text">
                    Develop HTML, CSS, and JavaScript skills. Explore design thinking. Use Bootstrap and other frameworks for website creation and enhanced design.</p>
                  <p class="card-text-part">Audience : <b>Absolute Beginners</b></p>
                  <p class="card-text-part">Virtual Class Available : <b>Yes</b></p>
                  <p class="card-text-part">Fees : <b>₦150,000</b></p>
                  <p class="card-text-part"><span><i class="fa-regular fa-clock"></i></span> 3 months of tuition.</p>
                 <div class="card-btn">
                  <button>Enroll Now</button>
                 </div>
                </div>
                <div class="card-footer">
                  <span id="registrationStatus">Registration is currently <b>open</b>.</span>
                </div>
              </div>
              <div class="card top">
                <img src="/image/back-end.avif" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Back-End Web Development</h5>
                  <p class="card-text">
                    Acquire basic skills in JavaScript, Python, Node.js, Express.js. Explore SQL (e.g., MySQL), NoSQL (e.g., MongoDB) for database management, and more.</p>
                  <p class="card-text-part">Audience : <b>Absolute Beginners</b></p>
                  <p class="card-text-part">Virtual Class Available : <b>Yes</b></p>
                  <p class="card-text-part">Fees : <b>₦200,000</b></p>
                  <p class="card-text-part"><span><i class="fa-regular fa-clock"></i></span> 5 months of tuition.</p>
                  <div class="card-btn">
                    <button>Enroll Now</button>
                   </div>
                  </div>
                  <div class="card-footer">
                    <span id="registrationStatus">Registration is currently <b>open</b>.</span>
                  </div>
              </div>
              <div class="card right">
                <img src="/image/software.webp" class="card-img-top" alt="..." height="190">
                <div class="card-body">
                  <h5 class="card-title">UI/UIX Design</h5>
                  <p class="card-text">Develop foundational skills in UIX Design. Explore design thinking and utilize Figma and Adobe XD for website creation and design projects.</p>
                  <p class="card-text-part">Audience : <b>Absolute Beginners</b></p>
                  <p class="card-text-part">Virtual Class Available : <b>Yes</b></p>
                  <p class="card-text-part">Fees : <b>₦100,000</b></p>
                  <p class="card-text-part"><span><i class="fa-regular fa-clock"></i></span> 2 months of tuition.</p>
                  <div class="card-btn">
                    <button>Enroll Now</button>
                   </div>
                  </div>
                  <div class="card-footer">
                    <span id="registrationStatus">Registration is currently <b>open</b>.</span>
                  </div>
              </div>
              <div class="card left">
                <img src="/image/BED.webp" class="card-img-top" alt="..." height="260">
                <div class="card-body">
                  <h5 class="card-title">Data Science</h5>
                  <p class="card-text">Receive a comprehensive introduction to data analysis and structures. Acquire skills in analyzing data and constructing statistical models in real-world scenarios.</p>
                  <p class="card-text-part">Audience : <b>Absolute Beginners</b></p>
                  <p class="card-text-part">Virtual Class Available : <b>Yes</b></p>
                  <p class="card-text-part">Fees : <b>₦250,000</b></p>
                  <p class="card-text-part"><span><i class="fa-regular fa-clock"></i></span> 5 months of tuition.</p>
                  <div class="card-btn">
                    <button>Enroll Now</button>
                   </div>
                  </div>
                  <div class="card-footer">
                    <span id="registrationStatus">Registration is currently <b>open</b>.</span>
                  </div>
              </div>
              <div class="card bottom">
                <img src="/image/pardot-blog.jpg" class="card-img-top" alt="..." height="260">
                <div class="card-body">
                  <h5 class="card-title">Salesforce Administrator</h5>
                  <p class="card-text">
                    Become proficient in Salesforce fundamentals. Learn UI navigation, invoicing app creation, process automation, security, reporting, and other essential skills.</p>
                  <p class="card-text-part">Audience : <b>Absolute Beginners</b></p>
                  <p class="card-text-part">Virtual Class Available : <b>Yes</b></p>
                  <p class="card-text-part">Fees : <b>₦70,000</b></p>
                  <p class="card-text-part"><span><i class="fa-regular fa-clock"></i></span> 3 months of tuition.</p>
                  <div class="card-btn">
                    <button>Enroll Now</button>
                   </div>
                  </div>
                  <div class="card-footer">
                    <span id="registrationStatus">Registration is currently <b>open</b>.</span>
                  </div>
              </div>
              <div class="card right">
                <img src="/image/software.webp" class="card-img-top" alt="..." height="260">
                <div class="card-body">
                  <h5 class="card-title">AI Career Essentials (AiCE)</h5>
                  <p class="card-text">By the end, you'll have an impressive CV and upgraded portfolio. Master interview skills, leverage AI tools, and lead effectively. Prepared for a successful career.</p>
                  <p class="card-text-part">Audience : <b>Absolute Beginners</b></p>
                  <p class="card-text-part">Virtual Class Available : <b>Yes</b></p>
                  <p class="card-text-part">Fees : <b>₦100,000</b></p>
                  <p class="card-text-part"><span><i class="fa-regular fa-clock"></i></span> 6 months of tuition.</p>
                  <div class="card-btn">
                    <button>Enroll Now</button>
                   </div>
                  </div>
                  <div class="card-footer">
                    <span id="registrationStatus">Registration is currently <b>open</b>.</span>
                  </div>
              </div>
           
        </div>
    </div>
</section>


<script src="https://unpkg.com/scrollreveal"></script>
<script>
     ScrollReveal({
     reset: true,
     distance:"60px",
     duration: 2500,
     delay: 400
     });

  ScrollReveal().reveal(' .camp-title , .part-content , .left', {delay: 200, origin:"left",});
  ScrollReveal().reveal('.contact-form , .canp-btn , .part-image , .right', {delay: 100, origin:"right",});
  ScrollReveal().reveal('.camp-sub , .bottom', {delay: 200, origin:"bottom",});
  ScrollReveal().reveal('.page-title , .course-title , .top', {delay: 200, origin:"top",});
</script>

<%-include("../partials/footer")%>