<%-include("../partials/header")%>

<section class="page">
    <div class="container-fluid">
        <span></span>
        <span class="ft"></span>
        <div class="page-head">
            <h2 class="page-title">
                <%= title %>
            </h2>
            <p class="page-description">We've crafted websites for numerous organizations, tailoring each to represent your corporate image effectively. Explore our projects for examples.</p>
        </div>
    </div>
</section>

<section class="prorfolio">
    <div class="container-fluid">
        <div class="folio row">
        <div class="portfolio-card left">
            <img src="/image/shop.jpeg" alt="">
            <div class="portfolio-info">
                <h2>Grostore for organic product</h2>
                <p>New york,USA</p>
                <div class="portfolio-link">
                        <a href="/image/shop.jpeg" data-gall="portfolioGallery" class="venobox vbox-item" title="Photo"><i class="fa-solid fa-eye"></i></a>
                        <a href="#" title="Visit website" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <div class="portfolio-card top">
            <img src="/image/healthcare.jpeg" alt="">
            <div class="portfolio-info">
                <h2>Evercare Hospital Lekki Limited</h2>
                <p>Lagos,Nigeria</p>
                <div class="portfolio-link">
                        <a href="/image/healthcare.jpeg" data-gall="portfolioGallery" class="venobox vbox-item" title="Photo"><i class="fa-solid fa-eye"></i></a>
                        <a href="https://www.evercare.ng/" title="Visit website" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <div class="portfolio-card right">
            <img src="/image/bitpluse.jpeg" alt="">
            <div class="portfolio-info">
                <h2>Bitpuse Infotech</h2>
                <p>Lagos,Nigeria</p>
                <div class="portfolio-link">
                        <a href="/image/bitpluse.jpeg" data-gall="portfolioGallery" class="venobox vbox-item" title="Photo"><i class="fa-solid fa-eye"></i></a>
                        <a href="https://bitpluse.com/" title="Visit website" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <div class="portfolio-card left">
            <img src="/image/fund.jpeg" alt="">
            <div class="portfolio-info">
                <h2>Fundmax Technology</h2>
                <p>Lagos,Nigeria</p>
                <div class="portfolio-link">
                        <a href="/image/fund.jpeg" data-gall="portfolioGallery" class="venobox vbox-item" title="Photo"><i class="fa-solid fa-eye"></i></a>
                        <a href="https://fundmax.onrender.com/" title="Visit website" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <div class="portfolio-card bottom">
            <img src="/image/image.jpeg" alt="">
            <div class="portfolio-info">
                <h2>Paragon Clinics & Imaging</h2>
                <p>Port Harcourt,Nigeria</p>
                <div class="portfolio-link">
                        <a href="/image/image.jpeg" data-gall="portfolioGallery" class="venobox vbox-item" title="Photo"><i class="fa-solid fa-eye"></i></a>
                        <a href="https://www.paragonclinicsandimaging.com/" title="Visit website" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <div class="portfolio-card right">
            <img src="/image/Spire.jpeg" alt="">
            <div class="portfolio-info">
                <h2>Spire Healthcare Group plc </h2>
                <p>London,England</p>
                <div class="portfolio-link">
                        <a href="/image/Spire.jpeg" data-gall="portfolioGallery" class="venobox vbox-item" title="Photo"><i class="fa-solid fa-eye"></i></a>
                        <a href="https://www.spirehealthcare.com/home/" title="Visit website" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <div class="portfolio-card left">
            <img src="/image/invest.jpeg" alt="">
            <div class="portfolio-info">
                <h2>mexc crypto exchange & Investment</h2>
                <p>Singapore, Singapore</p>
                <div class="portfolio-link">
                        <a href="/image/invest.jpeg" data-gall="portfolioGallery" class="venobox vbox-item" title="Photo"><i class="fa-solid fa-eye"></i></a>
                        <a href="https://www.mexc.com/" title="Visit website" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <div class="portfolio-card top">
            <img src="/image/indian.jpeg" alt="">
            <div class="portfolio-info">
                <h2>NoBroker Technologies Solution Pvt. Ltd</h2>
                <p>Hsr Layout,India</p>
                <div class="portfolio-link">
                        <a href="/image/inndian.jpeg" data-gall="portfolioGallery" class="venobox vbox-item" title="Photo"><i class="fa-solid fa-eye"></i></a>
                        <a href="https://www.spirehealthcare.com/home/" title="Visit website" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <div class="portfolio-card right">
            <img src="/image/mag.jpeg" alt="">
            <div class="portfolio-info">
                <h2>Mag digital Banking</h2>
                <p>Carlifonia,USA</p>
                <div class="portfolio-link">
                        <a href="/image/mag.jpeg" data-gall="portfolioGallery" class="venobox vbox-item" title="Photo"><i class="fa-solid fa-eye"></i></a>
                        <a href="https://getmagbank.com" title="Visit website" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>





<script src="https://unpkg.com/scrollreveal"></script>
<script>
     ScrollReveal({
     reset: true,
     distance:"60px",
     duration: 2500,
     delay: 400
     });

  ScrollReveal().reveal(' .left', {delay: 200, origin:"left",});
  ScrollReveal().reveal('.right', {delay: 100, origin:"right",});
  ScrollReveal().reveal('.page-description , .bottom', {delay: 200, origin:"bottom",});
  ScrollReveal().reveal('.page-title , .top', {delay: 200, origin:"top",});

</script>


<%-include("../partials/footer")%>