<%-include("../partials/header")%>

<section class="page">
    <div class="container-fluid">
        <span></span>
        <span class="ft"></span>
        <div class="page-head">
            <h2 class="page-title">
                <%= title %>
            </h2>
            <p class="page-description">Explore our innovative software solutions and enjoy outstanding user experiences.</p>
        </div>
    </div>
</section>
<section class="our-service">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 left">
                <div class="service-icon" style="--service-color:#b30587;">
                    <span style="--service-color-icon:#f8f8f8;"><i class="fa-solid fa-computer"></i></span>
                </div>
                <h3>Website Development</h3>
                <p> 
                   Our collaborative team innovates your online presence, turning ideas into reality. We deliver solutions, from simple business websites to intricate e-commerce platforms, setting you apart from the competition.
                </p>
                <div class="service-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-5 top">
                <div class="service-icon" style="--service-color:#fbff07;" >
                    <span><i class="fa-solid fa-mobile-button" style="--service-color:#430063;"></i></span>
                </div>
                <h3>Mobile App Development</h3>
                <p>Trust us for outstanding iOS and Android apps, meticulously designed for a captivating user experience. From concept to testing, we bring your mobile app vision to life, propelling your business forward.
                </p>
                <div class="service-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-5 right">
                <div class="service-icon" style="--service-color:#420061;">
                    <span style="--service-color-icon:#fbf3ff;"><i class="fa-solid fa-cloud"></i></span>
                </div>
                <h3>Cloud App Development</h3>
                <p>Modern web and mobile products demand a robust, scalable backend operating on cloud infrastructure. Ensure seamless performance and flexibility for your applications with our reliable backend solutions.
                </p>
                <div class="service-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-5 left">
                <div class="service-icon" style="--service-color:#00beee;">
                    <span style="--service-color-icon:#420061;"><i class="fa-solid fa-palette"></i></span>
                </div>
                <h3>UI & UX Designing</h3>
                <p>
                   Our designers harmonize aesthetics with functionality, creating visually stunning interfaces and engaging user experiences for seamless interactions, enhancing online brand presence.
                </p>
                <div class="service-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-5 bottom">
                <div class="service-icon" style="--service-color:#520088;">
                    <span style="--service-color-icon:#f2e5f8;"><i class="fa-solid fa-database"></i></span>
                </div>
                <h3>Data Science</h3>
                <p>
                    Empowering clients to overcome challenging data obstacles, we predict product/service demand, enhance customer satisfaction, and shape business strategies through informed decisions and foresight.
                </p>
                <div class="service-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-5 right">
                <div class="service-icon"style="--service-color:#FCF700;">
                    <span style="--service-color-icon:#580081;"><i class="fa-solid fa-people-roof"></i></span>
                </div>
                <h3>Product Management</h3>
                <p>Focusing on product-market fit, we integrate niche standards with unique management approaches. Our emphasis on priorities ensures flexibility as we adapt to changes, emphasizing what matters most for success.
                </p>
                <div class="service-btn">
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="col-5 left">
                <div class="service-icon" style="--service-color:#420061;">
                    <span style="--service-color-icon:#fbf3ff;"><i class="fa-solid fa-arrows-spin"></i></span>
                </div>
                <h3>Full-cycle web application development services</h3>
                <p>We excel in creating fully functional web applications with services spanning UI/UX design, front-end/back-end development, SEO, QA, and server infrastructure. Our focus is on scalability, security, and maintainability.
                </p>
                <div class="service-btn">
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="col-5 top">
                <div class="service-icon" style="--service-color:#009985;">
                    <span style="--service-color-icon:#fbf3ff;"><i class="fa-solid fa-server"></i></span>
                </div>
                <h3>Server-side/back-end development</h3>
                <p>
                    Front-end development creates the appealing face of a web app, but flaws in back-end development can disrupt its magic. We prioritize back-end expertise to ensure server and database scalability, reliability, and smooth operations.
                </p>
                <div class="service-btn">
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="col-5 right">
                <div class="service-icon" style="--service-color:#b10044;">
                    <span style="--service-color-icon:#fbf3ff;"><i class="fa-solid fa-cart-shopping"></i></span>
                </div>
                <h3>E-commerce</h3>
                <p>
                    Crafting bespoke e-commerce applications, our solutions seamlessly operate on all platforms, enabling ongoing updates and feature enhancements. Integration with your CRM, inventory management, and business intelligence tools enhances sales opportunities for your customers.
                </p>
                <div class="service-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-5 left">
                <div class="service-icon" style="--service-color:#09a9d1;">
                    <span style="--service-color-icon:#fbf3ff;"><i class="fa-brands fa-connectdevelop"></i></span>
                </div>
                <h3>Blockchain Development</h3>
                <p>
                    Empowering businesses in blockchain technology, we've successfully developed commercially viable solutions, incentivizing all stakeholders. Our adept Blockchain developers specialize in NFTs, DApps, DeFi, Metaverse, DAOs, Exchanges, wallet integrations, custodial wallets, smart contracts, marketplaces, stable coins, Web3, and beyond.
                </p>
                <div class="service-btn">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-5 bottom">
                <div class="service-icon" style="--service-color:#f37b0b;">
                    <span style="--service-color-icon:#fbf3ff;"><i class="fa-solid fa-circle-dollar-to-slot"></i></span>
                </div>
                <h3>Fintech software development</h3>
                <p>
                    Specializing in fintech, we develop cutting-edge software solutions to automate financial processes, elevate customer satisfaction, and streamline costs. Our tailored applications empower clients with efficient tools, ensuring a seamless integration of technology to enhance their financial operations and overall performance.
                </p>
                <div class="service-btn">
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="col-5 right" style="height: 400px;">
                <div class="service-icon" style="--service-color:#b10bf3;">
                    <span style="--service-color-icon:#fbf3ff;"><i class="fa-solid fa-headset"></i></span>
                </div>
                <h3 class="">Let's change your immagination to reality</h3>
                <p class="m-4 pb-5 pt-5" style="font-size: 23px;font-weight: 600;">
                   Our Dedicated Team Is Available 247
                </p>
                <div class="service-btn">
                    <a href="#">Chat Us Now</a>
                </div>
            </div>
          
        </div>
    </div>
</section>
<section class="partner">
    <div class="container-fluid justify-content-center align-items-center d-flex overflow-hidden flex-column">
<div class="requst mt-3 bottom" style="padding-top: 2rem;">
    <div class="rd">
        <span>Ready?</span>
        <h2>Discuss your objectives with us.</h2>
    </div>
    <a href="">Request Quote</a>
</div>

    </div>
</section>




<script src="https://unpkg.com/scrollreveal"></script>
<script>
     ScrollReveal({
     reset: true,
     distance:"60px",
     duration: 2500,
     delay: 400
     });

  ScrollReveal().reveal(' .left', {delay: 200, origin:"left",});
  ScrollReveal().reveal('.right', {delay: 100, origin:"right",});
  ScrollReveal().reveal('.bottom', {delay: 200, origin:"bottom",});
  ScrollReveal().reveal('.top', {delay: 200, origin:"top",});
</script>


<%-include("../partials/footer")%>