<footer>
<div class="container-fluid justify-content-center align-items-center">
    <div class="row">
        <div class="col col-4">
            <div class="footer-logo"><img src="/image/logo/favicon.png" alt="logo" width="200px" height="55"></div>
            <p class="pt-5">Established in 2010, Alphatech is a boutique web and software development agency based in Lagos, Nigeria, committed to innovative excellence. Registered with CAC and licensed by NiTdA as a software development and IT consultancy company.</p>
        </div>
       
        <div class="col ">
            <h3>Industries</h3>
            <ul class="pt-4">
                <li><a href="/"><span><i class="fa-solid fa-chevron-right"></i></span>Fintech</a></li>
                <li><a href="/"><span><i class="fa-solid fa-chevron-right"></i></span>E-commerce</a></li>
                <li><a href="/"><span><i class="fa-solid fa-chevron-right"></i></span>Real Estate</a></li>
                <li><a href="/"><span><i class="fa-solid fa-chevron-right"></i></span>Logistics</a></li>
                <li><a href="/"><span><i class="fa-solid fa-chevron-right"></i></span>
                    Custom NFT art marketplace development</a></li>
                <li><a href="/"><span><i class="fa-solid fa-chevron-right"></i></span>Lending software development</a></li>
               
            </ul>
        </div>
         
        <div class="col">
            <h3>Company</h3>
            <ul class="pt-4">
                <li><a href="/"><span><i class="fa-solid fa-chevron-right"></i></span>Careers
                </a></li>
                <li><a href="/"><span><i class="fa-solid fa-chevron-right"></i></span>Insights</a></li>
                <li><a href="/about-us"><span><i class="fa-solid fa-chevron-right"></i></span>About Us</a></li>
                <li><a href="/contact-us"><span><i class="fa-solid fa-chevron-right"></i></span>Contact Us</a></li>
                <li><a href="/"><span><i class="fa-solid fa-chevron-right"></i></span>Scholarship</a></li>
                <li><a href="/blog"><span><i class="fa-solid fa-chevron-right"></i></span>Blog</a></li>
                <li><a href="/"><span><i class="fa-solid fa-chevron-right"></i></span>Refund Policy</a></li>
               
            </ul>
        </div>
        <div class="col">
            <h3>Contact</h3>
            <ul class="pt-4">
                <li><a href="/"><span><i class="fa-solid fa-phone"></i></span>+2349129079450</a></li>
                <li><a href="/"><span><i class="fa-solid fa-envelope"></i></span>alphatechmultimedia@gmail.com</a></li>
                <li><span><i class="fa-solid fa-location-dot"></i></span>23,Wole Ariyo, Lekki Phase 1, Lagos, Nigeria.</li>
            </ul>
            <div class="contact-icon">
                <a href="https://www.tiktok.com/@alphatech_ng"><img src="/image/tiktok.png" alt="" height="30" width="30"></a>
                <a href=""><img src="/image/twitter-x.webp" alt="" height="30" width="30"></a>
                <a href="https://www.instagram.com/alphatech_ng/"><img src="/image/instagram-icon.avif" alt="" height="30" width="30"></a>
                <a href="https://github.com/Alphatech29"><img src="/image/github.png" alt="" height="30" width="30"></a>
                <a href=""><img src="/image/discord.png" alt="" height="30" width="30"></a>
            </div>
        </div>
        
    </div>
    <div class="footer-credit">
        <div class="copyright">
            <p id="copyright"></p>
        </div>
    </div>
</div>



</footer>
<!--Alphaech Js-->
<script src="/home/js/main.js"></script>
<script src="/home/js/custom.js"></script>
<!--Fontawesome Js-->
<script src="/home/fontawesome/js/all.js"></script>
<script src="/home/fontawesome/js/all.min.js"></script>
<script src="/home/fontawesome/js/fontawesome.js"></script>
<script src="/home/fontawesome/js/fontawesome.min.js"></script>
<!--Boostrap Js-->
<script src="/home/bootstrap-5.0.2-dist/js/bootstrap.js"></script>
<script src="/home/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
<script src="/home/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="/home/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <!-- SweetAlert2 Js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</body>
</html>